<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <script src="/js/country.js"></script>
    </head>
    <body class="country">
        <header>
        {% include header.liquid %}
        </header>
        {% include menu.liquid %}
        <main>
        {{ url || countryheader: countries }}
        <div class="row-main">
            <div class="column-main">
                {{ url || learnmore: countries }}
                <div id="side-main">
                {{ content }}

                <p style="font-style: italic; line-height: initial;">* Due to COVID-19, our summer programs are currently <strong>tentatively</strong> set to begin Summer 2021. We will continue to monitor the situation for travel to/from the United States, and updates will be shared as to the current status of study abroad programs.</p>
                </div>
                <div id="side-display"></div>
            </div>
            <div class="column-side">
                <button id="button-housing"><i class="fas fa-home fa-3x"></i><div>Housing</div></button>
                <button id="button-programs"><i class="fas fa-shoe-prints fa-3x"></i><div>Daily Programs &amp; Excursions</div></button>
                <button id="button-attractions"><i class="fas fa-map-marked fa-3x"></i><div>Attractions &amp; Other Info</div></button>
                <button id="button-courses"><i class="fas fa-chalkboard-teacher fa-3x"></i><div>Courses</div></button>
                <button id="button-topics"><i class="fas fa-clipboard-list fa-3x"></i><div>Key Topics of Study</div></button>
                <button id="button-cost"><i class="fas fa-dollar-sign fa-3x"></i><div>Costs &amp; Budgets</div></button>
                <button id="button-scholarship"><i class="fas fa-hand-holding-usd fa-3x"></i><div>Scholarship</div></button>
                <button id="button-testimonials"><i class="fas fa-film fa-3x"></i><div>Testimonials</div></button>
                <button id="button-faculty"><i class="fas fa-user-alt fa-3x"></i><div>Faculty &amp; Staff</div></button>
            </div>
        </main>
        <footer>
            {% include footer.liquid %}
        </footer>
    </body>
</html>