<il-footer>
<div slot="contact" class="il-footer-contact uofi_address">
<p slot="parent-unit" class="primary_site_title" style=""><a href="/">College of Education</a></p>
<p>1310 S. Sixth St.</p><p>Champaign IL 61820-6925</p>
<p><a href="https://twitter.com/edILLINOIS"><i class="il-icon">twitter</i></a>
<a href="https://www.facebook.com/educationatillinois?ref=ts"><i class="il-icon">facebook</i></a>
<a href="https://www.linkedin.com/in/educationatillinois"><i class="il-icon">linkedin</i></a>
<a href="https://www.youtube.com/user/educationatillinois"><i class="il-icon">youtube</i></a>
<a href="https://www.instagram.com/educationillinois/"><i class="il-icon">instagram</i></a>
</p>
</div>

<div class="il-footer-navigation">
<nav aria-label="Campus Footer Links">
<h2>Quick access to:</h2>
<ul>
<li><a href="https://illinois.edu/">University of Illinois</a></li>
<li><a href="https://directory.illinois.edu/search">Directory</a></li>
<li><a href="https://illinois.edu/resources/calendars.html">Calendars</a></li>
<li><a href="https://map.illinois.edu/view">Map</a></li>
</ul>
</nav>
</div>

<nav slot="links" class="il-footer-links">
<h2 class="il-invisible">Additional links</h2>
<ul>
<li><button id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie Settings</button></li>
<li><a href="https://www.vpaa.uillinois.edu/resources/web_privacy">Privacy Policy</a></li>
<li><a href="https://itaccessibility.illinois.edu/contact">Accessibility</a></li>
</ul>
</nav>
</il-footer>