<il-footer>
<div slot="contact" class="il-footer-contact uofi_address"><p slot="parent-unit" class="primary_site_title" style=""><a href="https://education.illinois.edu">College of Education</a></p>
<p>1310 South Sixth Street</p><p>Champaign, IL 61820</p>
</div>

</il-footer>