<il-header>
    <div slot="wordmark">
    <il-unit-wordmark>
    <p class="il-primary-unit"><a href="https://education.illinois.edu">College of Education </a></p>
    <h1 class="il-secondary-unit"><a href="/">Study Abroad Program</a></h1>
    </il-unit-wordmark>
    </div>
    <il-mobilemenu micromenu="1000px"></il-mobilemenu>
</il-header>