<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>
    <body class="home">
        <header>
        {% include header.liquid %}
        </header>
        {% include menu.liquid %}
        <main>
        <section class="header-image">
            <div style="background-image: url(/img/header/headerglobe.jpg); height: 400px; display: flex; justify-content: center;"> 
            <div class="program-select"> 
            <h1>Explore Education Around The World</h1>
            <p>Find your program today</p>
            <a class="button" href="/program-search/index.html">Browse Programs</a> <a class="button" href="/how-to-apply/index.html">Apply Today</a>
            </div>
            </div>
        </section>
        <section class="body" style="background-image: url(/img/header/personadven.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; padding: 150px 0; background-attachment: fixed;">
            <div class="main-text">
                {{ content }}
            </div>
        </section>
        </main>
        <footer>
            {% include footer.liquid %}
        </footer>
    </body>
</html>
