<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
        <script src="/js/search.js"></script>
    </head>
    <body class="search">
        <header>
        {% include header.liquid %}
        </header>
        {% include menu.liquid %}
        <main>
            <h1>Search Programs</h1>
            <div class='criteria'>
            <p>I want to study in
            <label for="region" class="visuallyhidden">Choose a region</label>
            <select class="region" name="region" id="region">
                <option value="" selected="" >Any Region</option>
                <option value="europe">Europe</option>
                <option value="asia">Asia</option>
                <option value="africa">Africa</option>
                <option value="centralamerica">Central America</option>
                <option value="southamerica">South America</option>
            </select>
            during
            <label for="term" class="visuallyhidden">Choose a school term</label>
            <select class="term" name="term" id="term">
                <option value="" selected="">Any Term</option>
                <option value="semester">Semester</option>
                <option value="springbreak">Spring Break</option>
                <option value="summer">Summer Break</option>
            </select>
            </p>
            <p>
            <label for="theme" class="visuallyhidden">Or choose an educational theme</label>
            <select class="theme" name="theme" id="theme">
                <option value="" selected="">Or choose an educational theme</option>
                <option value="Teach Abroad">Teach Abroad</option>
                <option value="Citizenship in a Global Era">Citizenship in a Global Era</option>
                <option value="Best Practices in Global Education">Best Practices in Global Education</option>
                <option value="Resilience in Schools to (Re)Build Communities">Resilience in Schools to (Re)Build Communities</option>
                <option value="Historical Depth and Context">Historical Depth and Context</option>
                <option value="Preparing Schools for a Changing Environment">Preparing Schools for a Changing Environment</option>
            </select>
            </p>
            </div>
           <div id="results"></div>
        </main>
        <footer>
            {% include footer.liquid %}
        </footer>
    </body>
</html>