body.home {
    main {
        width: 100%;

        section.header-image {
            .program-select {
                min-width: 65%;
                background: rgba(255, 255, 255, .6);
                border-radius: 20px 20px 0px 0px;
                margin-top: 40px;
                padding: 20px;
                color: white;
                text-align: center;
                box-shadow: 0px 2px 2px white;
                height: fit-content;

                h1 {
                    padding: 0;
                    margin: 0 0 15px 0;
                }
                p {
                    color: $blue-base;
                    padding: 0;
                    margin: 0 0 10px 0;
                    font-size: calc(1.2em + 1.2vw);
                }
                a.button {
                    font-size: calc(1.2em + 1.2vw);
                }
            }
        }

        section.body {
            .main-text {
                max-width: 800px;
                margin: 50px auto;
                padding: 40px;
                background: rgba(19, 41, 75, .85);
                box-shadow: 0px 0px 2pc black;

                h2, h3, h4, h5 {
                    text-align: center;
                    color: white;
                }

                p, li {
                    color: white;
                    font-size: calc(.6em + .6vw);
                    line-height: 1.56em;
                }

                h3 {
                    font-size: calc(1.25em + .8vw)
                }

                h4 {
                    font-size: calc(1em + .8vw)
                }

                h5 {
                    font-size: calc(.75em + .8vw)
                }
            }
        }

        #usefulInfo {
            background: $blue_base;
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 2px solid white;

            h2 {
                color: white;
                border-top: thin solid white;
                border-bottom: thin solid white;
                margin: 0;
                padding: 20px;
                margin-bottom: 20px;
            }

            .infoAndContent {
                display: grid;
                flex-direction: row;
                grid-template-columns: repeat(auto-fit, 350px);
                margin: auto;
                justify-content: space-evenly;
                max-width: 1400px;

                div {
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    background: $blue_base;
                    box-shadow: 0px 0px 2px black;
                    border: 7px solid #194470;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: transform 0.2s ease;

                    .fas {
                        color: $orange_base;
                        font-size: 6em;
                    }

                    a {
                        text-align: center;
                        color: white;
                    }
                    a:hover,
                    a:focus {
                        color: white;
                    }
                    p {
                        font-size: 2em;
                        line-height: initial;
                    }
                }

                div:hover {
                    background: black;
                }
            }
        }
    }
}
