#results {
    margin: 30px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-gap: 10px;

    div {
        background: #f1f1f1;
    }

    div.dates {
        text-align: center;
        font-size: 1em;
        background: rgba(255,255,255,.7);
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        padding: 5px;
    }

    div.hidden {
        display: none;
    }

    h2 {
        background: #13294B;
        margin: 0;
        color: white;
        font-size: 1.75em;
    }

    .image {
        width: 100%;
        height: 250px;
        float: left;
        background-size: cover;
        background-position: center;
    }

    a {
        text-decoration: none;
        background: unset;
        color: unset;
    }

    a:focus div.hidden, a:hover div.hidden {
        display: block;
        height: 122px;
        padding: 30px 10px 70px 10px;
        text-align: center;
        background-color: rgba(255, 85, 46, .72);
    }

    div.hidden p {
        margin: 5px;
    }
}